version: "3.8"

services:

  server:
    build: .
    image: confidentialml-app
    command: [ "python", "server.py" ]
    # Force Python to print logs immediately
    environment:
      - PYTHONUNBUFFERED=1
      - MAX_ROUNDS=20
    networks:
      - fl_network

  client:
    image: confidentialml-app
    command: [ "python", "clients.py" ]
    environment:
      - SERVER_ADDRESS=http://server:8080
      - DATASET_NAME=synthetic # Options: creditcard, synthetic
      - PYTHONUNBUFFERED=1
      - DP_EPS=10.0
      - DP_DELTA=1e-5
      - TARGET_TOTAL_EPS=20.0
      - CLIP_NORM=1.0
      - NOISE_MULTIPLIER=2.0
    networks:
      - fl_network
    depends_on:
      - server

networks:
  fl_network:
    driver: bridge
