version: "3.8"

services:

  server:
    build: .
    image: confidentialml-app
    command: [ "python", "server.py" ]
    # Force Python to print logs immediately
    environment:
      - PYTHONUNBUFFERED=1
    networks:
      - fl_network

  client:
    image: confidentialml-app
    command: [ "python", "clients.py" ]
    environment:
      - SERVER_ADDRESS=http://server:8080
      - DATASET_NAME=synthetic # Options: creditcard, synthetic
      - PYTHONUNBUFFERED=1
    networks:
      - fl_network
    depends_on:
      - server

networks:
  fl_network:
    driver: bridge
